/*提示条版本更新*/
	.tips {
	position: fixed;
	background: #FFE000;
	height: 75px;
	width: 180px;
	top:0px;
	left: 150px;
	z-index: 999999;
}

   .tips:after{
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

   .tips:after {
	border-top-color: #FFE000;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}


.closeImg{
	display: block;
	float: right;
	right: 1px;
	top: 0px;
	position: absolute;
}


/*背景图片提示*/
/*#bgTips {
	background: #FFE000;
	width: 180px;
	height: 60px;
	z-index: 99999;
	bottom: 0px;
	right: 160px;
	position: fixed;
}
#bgTips:after{
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#bgTips:after {
	border-top-color: #FFE000;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}*/

  /*书签历史提示*/

.arrow_box {
	background: #FFE000;
	width: 180px;
	height: 60px;
	position: fixed;
	z-index: 99999;
	bottom: -55px;
	left: 675px;
	position: fixed;
}
.arrow_box:after{
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-right-color: #FFE000;
	border-width: 15px;
	top: 50%;
	margin-top: -15px;
}
/*.arrow_box:before {
	border-right-color: #EDF2F5;
	border-width: 16px;
	top: 50%;
	margin-top: -16px;
}*/

#pTips{
	font-size: 12px;
	font-family: "微软雅黑","Microsoft YaHei",Arial,Verdana,Helvetica,sans-serif;
	margin-top: -3px;
}

.ppTips{
	font-size: 12px;
	font-family: "微软雅黑","Microsoft YaHei",Arial,Verdana,Helvetica,sans-serif;
	margin-top: 0px;
	/*padding-top: 4px;
	padding-left: 6px;*/
}


   /*2012/8/3修改提示框样式*/
 
.layer_pop {

 	right: 150px;
	top: 0px;
	position: absolute;

	width: 174px;
	height: 65px;

	padding: 11px 10px;
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #F8E2AE;
	border-radius: 6px;
	background: #FEFFF2;
	line-height: 17px;
	z-index: 999;
	
}

.arrow_t {
	left: auto;
	right: 20px;
	background-image: url("../image/ggg.png");
	position: absolute;
	top: -9px;
   /*background-position: -150px -525px;*/
	width: 20px;
	height: 9px;
}

 .layer_boo {

	top: 100px;
	left: 300px;
	position: absolute;
	
	width: 174px;
	height: 38px;

	padding: 11px 10px;
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #F8E2AE;
	border-radius: 6px;
	background: #FEFFF2;
	line-height: 17px;
	z-index: 999;
	
}
.layer_bg {
	bottom: 0px;
	right: 160px;
	position:fixed;
	width: 174px;
	height: 40px;

	padding: 11px 10px;
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #F8E2AE;
	border-radius: 6px;
	background: #FEFFF2;
	line-height: 17px;
	z-index: 999;
	
}
.layer_thu{
	bottom: 0px;
	position: fixed;
	width: 190px;
	height: 65px;
	margin-left: 70px;
	padding: 16px 20px;
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #F8E2AE;
	border-radius: 6px;
	background: #FEFFF2;
	line-height: 22px;
	z-index: 999;
}
.closeImg:hover{
	background-color: rgba(51, 51, 51, 0.36);
}
